{% extends "blog/base.html" %}

{% block content %}
    <!--go through all posts-->
    {% for post in posts %}
        <div class="post">
            <!-- say when it was created -->
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <!--have a link to the post details page for each post -->
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <!--post the blog text, truncated is used for formatting but not necesary-->
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>
    {% endfor %}
{% endblock %}