{% extends "blog/base.html" %}


{% block content %}



    <div class = "jumbotron mycustom-jumbotron">
    <!--put in post title-->
    <h1 class='posttitle loader'><strong>{{ post.title }}</strong></h1>
    <!--if the post has a publish date e.g. if the post has been published and isnt just a draft-->
    {% if post.published_date %}
        <!--start the post date-->
        <div class="date postdate">
            <!--place the post date on the post-->
            <em> Posted: {{ post.published_date }}</em>
        </div>
    <!-- else show a button that allows user to publish the post, then takes user to the publish page -->
    {% else %}
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}


    <!-- post the content -->
    <p class='postcontent' >{{ post.text|safe|linebreaksbr }}</p>



    <!--if user is authenticated / logged in-->
    {% if user.is_authenticated %}
        <!-- show button for edit post, the glyphicon is a pencil for edit-->
        <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">Edit <span class="glyphicon glyphicon-pencil"></span></a>
        <!-- show button for delete post, the glyphicon is a remove symbol -->
        <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">Delete <span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
    


    <hr>
    <a class="btn btn-primary btn-comment-left" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment <span class="glyphicon glyphicon-plus"></span></a>

    
    

    <div class="container">
        <!--for all comments on the post-->
        {% for comment in post.comments.all %}
            <!--break to give a little space between comments-->
            <br>
            <br>
            <!-- if the user is authenticated or the comment is an approved comment-->
            {% if user.is_authenticated or comment.approved_comment %}

                <!-- if comment not approved, you can still see the comments but other users wont be able to-->
                {% if not comment.approved_comment %}
                    <!-- show button for removing the comment, the glyphicon is a remove symbol -->
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <!-- show button for approve comment, your choice, the glyphicon is an ok symbol -->
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            
            
            <!--show comment text in the comments-->
            <span class="glyphicon glyphicon-comment"></span>
            <p> {{ comment.text|safe|linebreaks }}</p>
 

            <!-- show who posted the comment-->
            <p style="font-size: 15px;">Posted by: <strong>{{ comment.author }}</strong></p>
            <!--show creation date of comment-->
            <p style="font-size: 10px;">{{ comment.created_date }}</p>
        {% endif %}
    <!-- if no comments have text saying no comments posted-->
    {% empty %}
    <br>
    <br>
    <br>
    <p style="opacity: 75%; text-align: center;">No comments posted.</p>
    {% endfor %}

</div>
</div>


{% endblock %}